.listPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
}

.title {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}